<% if (success && success.length > 0) { %>
  <div class="alert alert-success alert-dismissible" role="alert" style="margin-left: 1rem;">
    <%= success %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>

<% if (error && error.length > 0) { %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert"  style="margin-left: 1rem;">
    <%= error %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>