<nav class="navbar navbar-expand-md bg-body-light border-bottom fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="/image/logo.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/listings">Hotels</a>
        <a class="nav-link" href="/listings/new">Add New Listing</a>
      </div>
    </div>
    
    <% if (!currentUser) { %>
    <div class="d-flex justify-content-space-around">
        <a class="btn btn-dark add-btn"  href="/user/login">Login</a>
        <a class="btn btn-outline-success outline-btn" href="/user/signup" style="margin-left: 0.5rem;">Sign Up</a>
    </div>
    <% } else { %>
    <span class="navbar-text me-2">
        Welcome, <strong><%= currentUser.username %></strong>
    </span>
    <div class="d-flex justify-content-space-around" style="margin-left: 5px;">
        <a class="btn btn-dark add-btn"  href="/user/logout">Logout</a>
    </div>
    <% } %>

    
  </div>
</nav>